.square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    background-color: #28a745;
} 

.coral {
    color: #28a745;
}

.turqbg {
    background-color: #28a745;
}

.turq {
    color: #28a745;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #343a40;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.98;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}


/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.img-pad {
	padding-top: 20px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #343a40;
    min-height: 333px;
}

.user-image {
	width: 50%;
	height: auto;
  	display: block;
    margin-left: auto;
    margin-right: auto;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
    color: rgba(40, 167, 69, 0.85);
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
    color: rgba(40, 167, 69, 0.7);
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}

.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.table-hover-beg tbody tr:hover {
  background-color: rgba(97, 186, 97, 0.2) !important;
}

.table-hover-int tbody tr:hover {
  background-color: rgba(240, 175, 83, 0.2) !important;
}

.table-hover-adv tbody tr:hover {
  background-color: rgba(204, 55, 51 0.2) !important;
}

.thead-beg {
	 background-color: #28a745;
	 color: white;
}

.thead-int {
	 background-color: #f0af53;
	 color: white;
}

.thead-adv {
	 background-color: #cc3733;
	 color: white;
}

.tbody-beg {
	 color: #28a745;
}

.tbody-int {
	 color: #f0af53;
}

.tbody-adv {
	 color: #cc3733;
}

.btn-beg {
	border: 1px solid #28a745 !important;
	color: #61ba61 !important;
	font-weight: bold !important;
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.btn-beg:hover {
  	background-color:#61ba61 !important;
  	color: white !important;
	font-weight: bold !important;
}

.btn-int {
	border: 1px solid #f0af53 !important;
	color: #f0af53 !important;
	font-weight: bold !important;
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.btn-int:hover {
  	background-color:#f0af53 !important;
  	color: white !important;
	font-weight: bold !important;
}

.btn-adv {
	border: 1px solid #cc3733 !important;
	color: #cc3733 !important;
	font-weight: bold !important;
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.btn-adv:hover {
  	background-color:#cc3733 !important;
  	color: white !important;
	font-weight: bold !important;
}

#leaderboard {
	font-weight: bold !important;
	color: rgba(40, 167, 69, 0.85);
}

.welltable {
	background-color: #343a40 !important;
	border-color: #343a40 !important;
}

.table-bordered-beg > thead > tr > th {
	border: 1px solid #28a745 !important;
	text-align: center;
}

.table-bordered-beg > tbody > tr > td {
	border: 1px solid #28a745 !important;
	text-align: center;
}

.table-bordered-int > thead > tr > th {
	border: 1px solid #f0af53 !important;
	text-align: center;
}

.table-bordered-int > tbody > tr > td {
	border: 1px solid #f0af53 !important;
	text-align: center;
}

.table-bordered-adv > thead > tr > th {
	border: 1px solid #cc3733 !important;
	text-align: center;
}

.table-bordered-adv > tbody > tr > td {
	border: 1px solid #cc3733 !important;
	text-align: center;
}
